obj
/resources/rational-decision-making-powerpoint-presentation.png
/resources/ThinkingProblems-240x300.png
/resources/c03cf869d8844bedf87d3af2a444c7accc39c35d_large.jpg
/resources/analytical_sociology_0.jpg
/resources/Choices.jpg
/bin/Debug/sakwa.vshost.exe.manifest
/resources/reason_2_0.gif
/bin/Debug/sakwa.vshost.exe.config
/bin/Debug/Help
/bin
